body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainSection {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.2px;
  /* identical to box height */

  /* filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.511)); */

  color: #f5f6f8;
  background-color: #ffffff;
  border-radius: 16px;
}

.header {
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  /* identical to box height */

  text-align: left;
  letter-spacing: -1px;

  margin-bottom: 0px;

  /* Light/--primary-text-color */

  color: #323338;
}

.options {
  font-weight: 700;
  /* font-size: 20px; */
  line-height: 28px;
  letter-spacing: -0.2px;
}

.optionsField {
  margin-bottom: 15px;
}

.dateField {
  /* font-size: 1px; */
}

.directions {
  color: #323338;
  font-weight: 70;
  font-size: 10px;
}

.button {
  justify-content: center;
  text-align: right;

  /* position: relative;
  left: 30%; */
}

table,
th,
td {
  position: relative;
  width: 250px;
  height: 28px;

  /* border: 1px solid black;
  border-collapse: collapse; */

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  letter-spacing: -0.2px;

  /* Light/--text-color-on-primary */

  color: #ffffff;
}
